:root {
    --primary-text-color: rgba (0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-bg-color: #ffffff;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.logo {
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.list {
    list-style: none;
}

.site-nav .link {
    color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-contact .link {
    color: var(--title-text-color);
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

.site-contact .link.current {
    color: var(--accent-color);
}