:root {
    --primary-text-color: rgba (0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-bg-color: #ffffff;
}

.container {
    padding: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;

    width: 1200px;
    /* border: 1px solid red;
    background-color: rgb(0, 255, 234); */
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

.logo {
    display: flex;
    padding-right: 93px;

    color: var(--title-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.page-header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    background-color: var(--primary-bg-color);
}

.header {
    display: flex;
    padding: 0px 15px 0px 15px;
    align-items: center;
}

.main-nav {
    display: flex;
    padding: 0px;
    align-items: center;
}

.main-nav-menu {
    display: flex;
    padding: 0px;
    align-items: center;
}

.main-nav-contact {
    display: flex;
    padding: 0px;
    justify-content: end;
}

.accent-blue {
    color: var(--accent-color)
}

.accent-black {
    color: var(--title-text-color);
}

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.container .site-nav .list {
    margin-bottom: 0px;
}

.site-nav {
    display: flex;
}

.site-nav .item {
    padding-right: 50px;
}

.site-nav .item:last-child {
    padding-right: 0px;
}

.site-nav .link {
    display: block;
    padding: 32px 0px 32px 0px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-contact .item {
    padding-right: 50px;
}

.site-contact .item + .item {
    padding-right: 0px;
}

.site-contact .link {
    padding: 32px 0px 32px 0px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

.site-contact .link.current {
    color: var(--accent-color);
}

.footer {
    display: block;
    padding: 0px 15px 0px 15px;
    align-items: center;
}

.footer-nav-contact {
    padding: 60px 0px 60px 0px;
}

.footer-nav-contact .logo {
    padding: 0px 0px 20px 0px;
}

.footer-site-contact {
    padding: 0px;
    margin: 0px;
}

.footer p {
    margin: 0px;
    color: green;
    text-decoration: none;
}

.footer-site-contact .link {    
    color: green;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.footer-site-contact .item {
   padding-bottom: 9px;
   list-style: none;
}

.footer-site-contact .item:last-child {
    padding-bottom: 0px;
}
