:root {
    --primary-text-color: rgba (0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18a0fb;
    --primary-bg-color: #ffffff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 1440px;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
}

.logo {
    display: flex;
    margin-right: 93px;
    margin-left: auto;

    color: var(--title-text-color);
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.page-header {
    background-color: var(--primary-bg-color);;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav .site-contact {
    margin-left: auto;
    margin-right: auto;
}

.accent-blue {
    color: var(--accent-color)
}

.accent-black {
    color: var(--title-text-color);
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-nav {
    display: flex;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-contact {
    display: flex;
}

.site-contact .item {
    margin-right: 50px;
}

.site-contact .item + .item {
    margin-right: 0px;
}

.site-contact .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
}

.site-contact .link:hover,
.site-contact .link:focus {
    color: var(--accent-color);
}

.site-contact .link.current {
    color: var(--accent-color);
}

.footer-adress {
    font-size: 14px;
    line-height: 1.71;
}

.footer-contacts {
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}