.section {
    padding: 94px 0px 94px 0px;
}

.button-list {
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.button-list .item {
    padding-right: 8px;
}

.button-list .item:last-child {
    padding-right: 0px;
}

.section-menu {
    color: var(--title-text-color);
    cursor: pointer;
}

.section-menu:hover
.section-menu:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}

.hero-list {
    display: flex;
    /* возможно стоит заменить падинги на row-gap и column-gap */
    flex-wrap: wrap;
    justify-content: center;

    width: 1200px;
    color: var(--title-text-color);
}

.hero-list .item {
    box-sizing: content-box;
    padding: 0px 30px 30px 0px;
    width: calc((100% - 60px) / 3);
}

.hero-list .item:nth-last-child(-n + 3) {
    padding-bottom: 0px;
}

.hero-list .item:nth-child(3n + 3) {
    padding-right: 0px;
}

.hero-list a {
    text-decoration: none;
}

.hero-list .title {
    padding: 20px 24px 4px 24px;
    margin: 0px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
}

.hero-list .text {
    padding: 0px 24px 20px 24px;
    margin: 0px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);

    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}