.section {
    padding: 0px 0px 94px 0px;
}

/* Block hero */

.hero {
    padding: 200px 0px 200px 0px;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    background-color: rgba(196, 196, 196, 1);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ), url(../images/office.jpg);
    height: 600px;
    max-width: 1600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

    color:var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    font-family: 'Roboto';
    font-style: normal;
}

.button.primary {
    padding: 10px 32px 10px 32px;
    display: inline-block;

    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
}

.section.value {
    padding: 94px 0px 94px 0px;
}

.section-title {
    margin: 0px 0px 50px 0px;

    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}

.section-title .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.section-title .name .profession {
    font-size: 16px;
    line-height: 1.18;
}

.feature-list {
    margin: auto;
    justify-content: center;
}

.feature-list-title {
    display: none;
}

.feature-list .title {
    padding: 0px;
    margin: 30px 0px 10px 0px;
    
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.feature-list .title .work-list .title {
    padding: 0px;
}

.feature-list p {
    margin: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
}

.feature-list .item {
    margin: 0px 30px 0px 0px;

    width: 300px;
}

.feature-list .item:last-child {
    margin-right: 0px;

    width: 270px;
}

.feature-bg {
    display: flex;
    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.skills .list {
    justify-content: center;
}

.skills .list .item {
    margin: 0px 30px 0px 0px;
}

.skills .list .item+.item+.item {
    margin-right: 0px;
}

.work-list {
    padding: 94px 0px 94px 0px;
    background-color: #F5F4FA;
}

.work-list .list {
    justify-content: center;
}

.work-list .item {
    margin: 0px 30px 0px 0px;
}

.work-list .item:last-child {
    margin-right: 0px;
}

.team-card {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card div {
    margin: 30px 0px 30px 0px;
}

.work-list .name {
    margin: 0px 0px 10px 0px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
}

.work-list .profession {
    margin: 0px;

    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--additional-text-color);
}

.social {
    display: flex;
    padding: 0px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    justify-content: space-between;
    width: 206px;
}

.social-link {
    display: block;
    width: 44px;
    height: 44px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primary-bg-color);
}

.social-icon {
    fill: #AFB1B8;
}

.our-clients {
    padding: 94px 0px 94px 0px;
}

.clients {
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: space-between;
    list-style: none;
}

.company {
    display: flex;

    width: 170px;
    height: 92px;
    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.company:hover,
.company:focus {
    border-color: var(--accent-color);
}

.company-color {
    fill: #afb1b8;
}

.company-color:hover,
.company-color:focus {
    fill: var(--accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

