.hero {
    text-align: center;
}

.hero-title {
    margin-top: 200px;
    margin-bottom: 30px;
    color:var(--title-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;    
    text-align: center;
}

.section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    margin-top: 94px;
    margin-bottom: 50px;
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.section-title .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.section-title .name .profession {
    font-size: 16px;
    line-height: 1.18;
}

.work-list {
    background-color: #F5F4FA;
}

.feature-list .title {
    margin-top: 94px;
    margin-bottom: 10px;
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.feature-list .text {
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-list .title .text {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
}

.feature-list .title .work-list .title {
    margin-top: 0;
    margin-bottom: 0;
}

.feature-list p {
    margin-top: 0;
    margin-bottom: 94;
}

.button.primary {
    margin-top: 30px;
    margin-bottom: 200px;
    color:var(--primary-bg-color);
    background-color:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
}
