$primary-text-color: rgba (0, 0, 0, 0.8);
$title-text-color: #000000;
$accent-color: #18a0fb;
$primary-bg-color: #ffffff;
$additional-text-color: rgba(117, 117, 117, 1);
$icon-fill-color: #afb1b8;
// $logo-font-family: Raleway, sans-serif;