.features {
    @extend %section-mobile;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features__title {
    display: none;
}

.features__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.features__item {
    &:last-child {
        margin-bottom: 0px;
    }

    &:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }

    &:nth-child(-n + 2) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((768px - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((1170px - 90px) / 4);
    }
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    height: 120px;

    border-radius: 4px;
    background-color: $team-background-color;
}

.features__name {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.features__list p {
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    
    color: $additional-text-color;
}