.footer {
    padding: 60px 0px 60px 0px;
    background-color: rgba(47, 48, 58, 1);
}

.footer__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px 0px 15px;
    width: 1200px;
    align-items: baseline;
}

.footer__contact {
    margin: 0px 70px 0px 0px;
}

.footer__logo {
    @extend .logo;
    
    display: flex;
}

.footer__adress-list {
    margin-top: 20px;

    & p:hover,
    & p:focus {
        color: $accent-color;
    }
}

.footer__address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__contact p {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-bg-color;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__adress-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.footer-follow {
    margin: 0px;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
}

.footer-follow__slogan {
    margin-bottom: 20px;
}

.footer-follow__list {
    display: flex;

    align-items: center;
    width: 206px;
    justify-content: space-between;
}

.footer-follow__link {
    display: block;
    padding: 12px;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.footer-follow__icon {
    fill: $primary-bg-color;
}

.footer-form {
    margin-left: 93px;
}

.footer-form__slogan {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-bg-color;
    line-height: 1.14;
}

.footer-form__field {
    width: 358px;
    margin-right: 12px;
    padding: 15px 0px 15px 16px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: inherit;
    color: rgba(255, 255, 255, 0.6);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
}

.footer-form__button {
    padding: 10px 0px 10px 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: $accent-color;
    color: $primary-bg-color;
    cursor: pointer;
}

.footer-form__icon {
    margin-left: 10px;
}