.logo {
    display: flex;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;

    color: $title-text-color;
    font-family: 'Raleway', sans-serif;

    @media screen and (max-width: 1199px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        padding: 0px;

        font-size: 26px;
        line-height: 1.19;
    }


    .header__logo--blue,
    .footer__logo--blue {
        color: $accent-color;
    }

    .header__logo--black,
    .footer__logo--black {
        color: $primary-text-color;
    }

    .header__logo--white,
    .footer__logo--white {
        color: $primary-bg-color;
    }
}

.header__logo {
    margin-right: 92px;
}