.services {
    @media screen and (max-width: 1199px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 0px;
        padding-bottom: 94px;
    }
}

.services__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    
    color: $title-text-color;
}

.services__list {
    display: flex;
    justify-content: space-between;
}

.services__item {
    position: relative;
}

.services__image {
    display: block;
}

.services__description {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;

    width: 370px;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
}

/* Метод центрирования позиционирования:
top: 50%;
left: 50%;
transform: translate(-50%, -50%); */

.services__description-text {
    padding-top: 27px;
    padding-right: 0px;
    padding-bottom: 27px;
    padding-left: 0px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    
    color: $primary-bg-color;
}