.team {
    @extend %section-mobile;
    background-color: $team-background-color;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    
    color: $title-text-color;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;

        font-size: 36px;
        line-height: 1.17;
    }
}

.team__list {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
    }
}

.team__item {
    width: 100%;

    background-color: $primary-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &:nth-child(-n + 2) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.team__photo {
    display: block;

    width: 100%;
    height: auto;
}

.team__description {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;

    @media screen and (min-width: 1200px) {
        padding-bottom: 30px;
  }
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color: $additional-text-color;
}

.team-social {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;

    width: 206px;
}

.team-social__link {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    
    width: 44px;
    height: 44px;

    text-align: center;

    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
    
    &:hover .team-social__icon,
    &:focus .team-social__icon {
        fill: $primary-bg-color;
    }
}

.team-social__icon {
    fill: #afb1b8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}